.container {
  display: flex;
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  background-color: aqua;
  width: 1160px;
}
.raleway-uniquifier > {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.body {
  display: flex;
}
.BLOCK-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #782221;
  width: auto;
  height: 200px;
  align-items: center;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: double;
}

.BLOCK-2 {
  display: flex;
  background-color: #2c1d27;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-left: 1px solid black;
}

.BLOCK-3 {
  flex-direction: column;
  background-color: #782221;
  width: 30%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.BLOCK-4 {
  background-color: white;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: weight;
  font-style: normal;
  width: 70%;
  border-right: 1px solid black;
}
.BLOCK-5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #782221;
  height: 100px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border: 1px solid black;
}
h2 {
  background-color: #dbc2a4;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-family: "Lato", sans-serif;
}
img {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 70%;
  border-radius: 450px;
  box-shadow: 0px 3px 25px;
  cursor: zoom-in;
}
.center {
  display: flex;
}
